<!DOCTYPE html>
<html>
   <head>
      <title> Package Query Demo </title>
      <style>
        canvas {
            border: 1px solid black;
            display: block;
            margin: 0 auto;
        }
    </style>
   </head>
   <body>
    <h1 style="text-align: center;">Interactive Demo </h1>
    <div style="text-align: center;" class="controls">
        <input type="number" id="numPoints" placeholder="Enter number of points" min="1" />
        <button id="generatePointsBtn">Generate Random Points</button>
        <button id="clearButton">Clear Points</button>
    </div>
    <canvas id="whiteboard" width="500" height="500"></canvas>
    <script type="module" src="../static/script.js"></script>
    <!-- <footer> Demo made by Alex</footer> -->
   </body>
</html>